.startContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 1000px;
  margin: 0 auto;

  &__logo {
    margin-top: 5rem;
    font-size: 2.5rem;
    color: var(--accent-color);
  }
}

.form {
  &--overlay {
    width: 400px;
  }
  &,
  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.5s;
    clip-path: inset(-30% 0%);
  }

  & input,
  & select {
    background-color: transparent;
    padding: 1rem 2rem;
    border: 1px solid var(--font-color);
    border-radius: 100px;
    box-shadow: var(--shadow);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    outline: none;
    transition: background 1s;
    width: 100%;

    &::placeholder {
      color: #4f4f4f;
    }
    &:disabled {
      border: 1px solid #b3b3b3;
    }
  }
  & .error {
    border: 1px solid #f44336;
    background-color: #f5cfcd;
  }
  & input[name="phone"] {
    display: none;
  }

  &--signup,
  &--resetPassword,
  &__tab--login {
    display: none;
    clip-path: inset(0% 100%);
  }

  &__submit,
  &__button {
    margin: 3rem 0 1rem;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #fff;
    outline: none;
    border: none;
    border-radius: 100px;
    width: 100%;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &__submit {
    &:hover {
      background-color: var(--accent-color);
      color: #fff;
      box-shadow: var(--shadow);
    }
    &--delete:hover {
      background-color: #f44336;
    }
    &--confirm {
      background-color: #f44336;
      color: #fff;
      &:hover {
        background-color: #c0342a;
      }
    }
    &--signup,
    &--delete {
      margin: 0;
    }
  }

  &__button {
    background-color: transparent;
    border: 3px solid #fff;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }

  &__changeForm {
    text-align: center;
    margin-bottom: 5rem;
    transition: opacity 0.5s;
  }

  &__textButton {
    font-weight: 700;
    color: var(--font-color);
    cursor: pointer;
  }

  &__error {
    color: #fff;
    background-color: #f44336;
    padding: 1rem 2rem;
    margin: -4.75rem 0 1rem;
    border-radius: 100px;
    width: 100%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
  }
}

.startContainer__image {
  position: absolute;
  bottom: 40px;

  & > img {
    width: 300px;
  }
  &--left {
    left: 0;
  }
  &--right {
    right: 0;
  }
}
