@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: #f0e0bc;
  --secondary-bg-color: #ccebfb;
  --bg-color: var(--primary-bg-color);
  --font-color: #2d2d2d;
  --accent-color: #3e9bd3;
  --shadow: 0 1px 5px rgba(0, 0, 0, 0.18), 0 1px 3px rgba(0, 0, 0, 0.22);
  --tile-color: #fff;
  font-size: 16px;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Prompt", sans-serif;
  transition: background 1s;
  height: 100vh;
}
main {
  margin-left: 5rem;
  padding: 2rem;
  height: calc(100% - 5rem);
  & ::-webkit-scrollbar {
    width: 0.5rem;
  }
  & ::-webkit-scrollbar-track {
    background: #fff;
  }
  & ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 1rem;
  }
  & ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
}

.menu {
  &__tabs {
    position: relative;
    display: flex;
    width: 75%;
    min-width: 800px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
  }
  &__tabHeader {
    text-align: center;
    width: 33.3%;
    cursor: pointer;

    &--active {
      color: var(--accent-color);
      transition: color 0.5s;
    }
  }

  &__activeBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(33%);
    height: 0.5rem;
    background: var(--accent-color);
    border-radius: 1rem;
  }
}
.overlay {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(#2d2d2d, 0.5);
  display: grid;
  place-items: center;
  padding-left: 5rem;

  &__content {
    background: var(--secondary-bg-color);
    border-radius: 1rem;
    min-width: 500px;
    width: 50%;
    max-width: 600px;
    padding: 2rem 1rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__header {
    margin-bottom: 2rem;
  }
}
.snackalert {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  font-size: 1.25rem;
  border-radius: 1rem;
  padding: 1rem;
  color: #fff;
  z-index: 25;

  &--error {
    background: #f44336;
  }
  &--success {
    background: var(--accent-color);
  }

  &__close {
    width: 2rem;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}
