.dashboardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1rem;
}
.dashboardContainer .dashboardTile:not(:first-child) {
  grid-column: span 1;
}
.dashboardTile {
  background: #eee;
  padding: 1rem;
  border-radius: 1rem;
  min-height: 8rem;
}
