.startContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
}
.logo {
  margin-top: 5rem;
  font-size: 2.5rem;
  color: var(--accent-color);
}
.form,
.formTab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.5s;
  clip-path: inset(0% 0%);
}
.form input {
  background-color: var(--background-color);
  padding: 1rem 2rem;
  border: 1px solid var(--font-color);
  border-radius: 100px;
  box-shadow: var(--shadow);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  outline: none;
  transition: background 1s;
}
.form input::placeholder {
  color: var(--font-color);
}
.signUpForm,
.loginData {
  display: none;
  clip-path: inset(0% 100%);
}
.signButton {
  margin: 3rem 0 1rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 100px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.signup {
  margin: 0;
}
.next,
.prev {
  background-color: transparent;
  border: 3px solid #fff;
}
.signButton:hover {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: var(--shadow);
}

.next:hover,
.prev:hover {
  background-color: #fff;
  color: #000;
}

.changeFormText {
  text-align: center;
  margin-bottom: 5rem;
  transition: opacity 0.5s;
}
.startImage {
  width: 300px;
}
.rightFormImage,
.leftFormImage {
  position: absolute;
  bottom: 40px;
}
.leftFormImage {
  left: 0;
}
.rightFormImage {
  right: 0;
}
.changeFormButton,
.noPassword {
  font-weight: 700;
  color: var(--font-color);
  cursor: pointer;
}
.formError {
  color: #fff;
  background-color: #f44336;
  padding: 1rem 2rem;
  margin: -4.75rem 0 1rem;
  border-radius: 100px;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}
