@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg-color: #f0e0bc;
  --secondary-bg-color: #ccebfb;
  --bg-color: var(--primary-bg-color);
  --font-color: #2d2d2d;
  --accent-color: #3e9bd3;
  --shadow: 0 5px 6px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.32);
  --tile-color: #fff;
  font-size: 16px;
}
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Prompt", sans-serif;
  transition: background 1s;
  height: 100vh;
}
main {
  margin-left: 5rem;
  padding: 2rem;
}
