.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: #57add7;
  transition: width 0.2s;
}
.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.navItem {
  width: 100%;
}
.navItem:last-child {
  margin-top: auto;
}
.navLink {
  color: var(--font-color);
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  transition: background 0.3s;
}
.navLink:hover {
  background: var(--secondary-bg-color);
  box-shadow: var(--shadow);
}
.linkText {
  display: none;
  margin-left: 1rem;
}
.navLink svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.navbar:hover {
  width: 16rem;
}
.navbar:hover .linkText {
  display: block;
}
.navLogo {
  font-weight: 900;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--font-color);
  background: #1b8acd;
  font-size: 1.75rem;
  width: 100%;
}
.navLogo svg {
  transform: rotate(0deg);
  transition: transform 0.6s;
}
.navbar:hover .navLogo svg {
  transform: rotate(-360deg);
}
.topbar {
  padding: 1rem;
  margin-left: 5rem;
  background: #1b8acd;
  height: 5rem;
  display: flex;
  justify-content: space-between;
}
