.gradesPanel {
  background-color: var(--tile-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding-top: 1rem;
  margin: 0 auto;
  width: 70%;
}
.gradesTabs {
  position: relative;
  display: flex;
  width: 75%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.tabHeader {
  text-align: center;
  width: 33.3%;
  cursor: pointer;
}
.active {
  color: var(--accent-color);
  transition: color 1s;
}
.activeBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(33%);
  height: 0.5rem;
  background: var(--accent-color);
  border-radius: 1rem;
}
.gradesList {
  width: 100%;
}
.gradesList .gradeItem:first-child {
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #ccc;
}
.gradesList .gradeItem:nth-child(2) {
  border: none;
}
.gradeItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 0.5rem 0;
  border-bottom: 1px solid #ccc;
}
.gradeItem > * {
  width: 25%;
}
