.studentContainer--grades {
  background-color: var(--tile-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 70%;
  min-width: 1000px;
  box-shadow: var(--shadow);
}
.studentContainer__tabs {
  position: relative;
  display: flex;
  width: 75%;
  min-width: 750px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.studentContainer__tabHeader {
  text-align: center;
  width: 33.3%;
  cursor: pointer;
}
.studentContainer__tabHeader--active {
  color: var(--accent-color);
  transition: color 1s;
}
.studentContainer__activeBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: calc(33%);
  height: 0.5rem;
  background: var(--accent-color);
  border-radius: 1rem;
}
.studentContainer__gradesList {
  width: 100%;
}

.studentContainer__item--subject > h2,
.studentContainer__item--subject > .studentContainer__header:first-child {
  flex: 1;
  padding-right: 2rem;
}
.studentContainer__item--subject > p,
.studentContainer__item--subject > .studentContainer__header:last-child {
  flex: 3;
}
.studentContainer__item--subject:first-child,
.studentContainer__item--summary:first-child {
  border-bottom: 3px solid #ccc;
  margin-bottom: 2rem;
}
.studentContainer__item--subject,
.studentContainer__item--summary {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #ccc;
}
.studentContainer__item--summary > * {
  flex: 1;
}
.studentContainer__detailedGradesList,
.studentContainer__gradesSummary {
  display: none;
  width: 100%;
}
.studentContainer__item--detailedSubject {
  margin: 0.5rem 0 3rem 0;
  width: 100%;
}
.studentContainer__item--detailedGrade {
  margin: 0 1rem 1rem;
}
.studentContainer__item--detailedGrade > div:last-child {
  border-bottom: 3px solid #ccc;
}
.studentContainer__item--detailedGrade > div {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.studentContainer__item--detailedGrade > div > h4 {
  flex: 1;
}
.studentContainer__item--detailedGrade > div > p {
  flex: 3;
}
