.studentContainer--notes {
  background-color: var(--tile-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem 2rem;
  margin: 0 auto;
  width: 70%;
  min-width: 1000px;
  box-shadow: var(--shadow);
}
.notes__list {
  width: 100%;
}
.notes__item {
  margin: 0 1rem 2rem;
}
.notes__item:first-child {
  padding-top: 2rem;
  border-top: 3px solid #ccc;
}
.notes__title {
  display: flex;
  justify-content: space-between;
}
.notes__data > div:last-child {
  border-bottom: 3px solid #ccc;
}
.notes__data > div {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}
.notes__data > div > h4 {
  flex: 1;
}
.notes__data > div > p {
  flex: 3;
}
