@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --font-color: #2d2d2d;
  --accent-color: #3e9bd3;
}
body {
  background-color: #f0e0bc;
  color: var(--font-color);
  font-family: "Prompt", sans-serif;
}
.startContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
}
.logo {
  margin-top: 5rem;
  font-size: 2.5rem;
  color: var(--accent-color);
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form input {
  background-color: #f0e0bc;
  padding: 1rem 2rem;
  border: 1px solid var(--font-color);
  border-radius: 100px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 15%);
  font-size: 1.5rem;
  margin-bottom: 1rem;
  outline: none;
}
.form input::placeholder {
  color: var(--font-color);
}

.signin {
  margin: 3rem 0 1rem;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #fff;
  border: none;
  border-radius: 100px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.signin:hover {
  background-color: var(--accent-color);
  color: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.register {
  margin-bottom: 5rem;
}
.startImage {
  width: 300px;
}
#leftImage,
#rightImage {
  position: absolute;
  bottom: 40px;
}
#leftImage {
  left: 0;
}
#rightImage {
  right: 0;
}

.startContainer a {
  font-weight: 700;
  color: var(--font-color);
  text-decoration: none;
}
