.users {
  &__list {
    width: 100%;
    overflow-y: auto;
    &--teachers,
    &--admins {
      display: none;
    }
    &--students,
    &--teachers {
      & .users__item:not(:first-child):hover {
        cursor: pointer;
        background: #ccc;
      }
    }
  }
  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #ccc;
    transition: background 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    & > * {
      flex: 1;
    }
  }
}
