.users {
  &__list {
    width: 100%;
    &--teachers,
    &--admins {
      display: none;
    }
  }
  &__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #ccc;
    transition: background 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    & > * {
      width: 33%;
    }
    &:not(:first-child):hover {
      cursor: pointer;
      background: #ccc;
    }
  }
}
