.grades {
  &__insertOne,
  &__insertMany {
    display: none;
    overflow-y: auto;
  }
  &__gradesList {
    width: 100%;
    overflow-y: auto;
    height: 100%;
  }

  &__insertMany {
    padding: 2rem;
  }

  &__item {
    &--student {
      font-size: 1.125rem;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0.5rem 0;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid #ccc;

      &:first-child {
        border-bottom: 3px solid #ccc;
        margin-bottom: 2rem;
        position: sticky;
        top: 0;
        left: 0;
        background: var(--tile-color);
        z-index: 22;
      }

      & > h2,
      & > .grades__header:first-child {
        flex: 3;
      }
      & > p:last-of-type,
      & > .grades__header:last-child {
        flex: 1;
      }
      .item__row {
        display: flex;
        flex-wrap: wrap;
        padding-right: 1rem;
        .item__container {
          display: flex;
          position: relative;

          .item__details {
            position: absolute;
            top: 50%;
            left: 2.5rem;
            background: var(--tile-color);
            box-shadow: var(--shadow);
            border-radius: 1rem;
            min-width: 300px;
            max-width: 450px;
            min-height: 200px;
            z-index: 50;
            padding: 1rem;
            clip-path: inset(0% 100% 100% 0%);
            transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);

            & > h4 {
              &:not(:first-child) {
                margin-top: 0.25rem;
              }
              &:last-child {
                margin-top: 0.75rem;
              }
            }
          }

          & > p {
            cursor: pointer;
            padding: 0.125rem 0.125rem;
            &:hover + .item__details {
              clip-path: inset(-10%);
            }
          }
        }
      }
      & > div,
      & > .grades__header:nth-child(2) {
        flex: 4;
      }
    }
  }
}
