.teacherDashboard {
  display: flex;
  height: calc(100% - 5rem);
  flex-direction: column;

  & .selection {
    &__content {
      overflow-y: auto;
      height: 100%;

      &::-webkit-scrollbar {
        width: 0.5rem;
      }
      &::-webkit-scrollbar-track {
        background: #fff;
      }
      &::-webkit-scrollbar-thumb {
        background: #ddd;
        border-radius: 1rem;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #ccc;
      }
    }
    &__list {
      width: 100%;
      max-width: 750px;
      height: calc(100% - 5rem);
      padding: 1rem 0;
      border: 1px solid var(--font-color);
      border-radius: 1rem;
    }

    &__item {
      text-align: center;
      font-size: 2.5rem;
      border-bottom: 1px solid #ccc;
      cursor: pointer;
      transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
      color: var(--font-color);
      text-decoration: none;

      &--class:nth-child(4n) {
        border-bottom: 3px solid #ccc;
      }

      &:hover {
        background: #ddd;
      }
    }
  }

  &__panel {
    display: flex;
    width: 100%;
    min-width: 850px;
    &--bottom {
      height: 100%;
      overflow: hidden;
      margin-top: 2rem;
      background: var(--tile-color);
      padding: 1rem;
      border-radius: 1rem;
      box-shadow: var(--shadow);
      display: flex;
      flex-direction: column;

      & > div:nth-child(2) {
        margin: 1rem 0;
        border-bottom: 3px solid #ccc;
      }
    }
  }
  &__tile {
    background: var(--tile-color);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: var(--shadow);
    flex: 1;
    height: 12rem;
    & > h1 {
      font-size: 4rem;
    }
    &:nth-child(2) {
      margin: 0 2rem;
    }
  }

  &__latestGradesItem {
    display: flex;
    width: 100%;
    justify-content: space-between;
    text-align: center;
    padding: 0.75rem 0;
    border-bottom: 1px solid #ccc;
    & > * {
      width: 25%;
    }
  }
}
