.notes {
  &__insertOne,
  &__insertMany {
    display: none;
    overflow-y: auto;
  }
  &__insertMany {
    width: 100%;
    padding: 2rem;
  }
  &__list {
    width: 100%;
    overflow-y: auto;
    height: 100%;
  }
  &__item {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    border-bottom: 1px solid #ccc;
    &:hover {
      background: #ccc;
    }
    &--student {
      margin-top: 2.5rem;
      .notes__item:last-child {
        border-bottom: 3px solid #ccc;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__data > div {
    display: flex;
    padding: 1rem;

    & > h4 {
      flex: 1;
    }
    & > p {
      flex: 3;
    }
  }
}
